.wrapper-vir {
  padding: 0px;
  background-color: #f8f9fa;
  display: flex;
  position: relative;
}
.wrapper-vir .sidebar {
  width: 100%;
  border: 2px solid blue;
  height: 525px;
}
.wrapper-vir .sidebar h2 {
  padding: 15px;
  color: blue;
}
.wrapper-vir .sidebar ul li {
  list-style: none;
  font-size: 20px;
  padding: 10px;
}
.wrapper-vir .sidebar ul li:hover {
  /* background-color: teal;
     color: white; */
  border-bottom: 1px solid teal;
}
.wrapper-vir .sidebar ul {
  color: blue;
  padding-left: 10px;
}
.wrapper-vir .sidebar ul li .btn-side-nav {
  background-color: #f8f9fa;
  color: Blue;
  border: none;
  width: 100%;
  text-align: left;
}


.wrapper-vir {
  border-radius: 5px;
  height: 521px;
}
@media (min-width: 575px) and (max-width: 624px) {
  .wrapper-vir {
    display: flex !important;
    flex-direction: column;
  }
}
@media (max-width: 624px) {
  #root {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .wrapper-vir {
    display: none;
  }
}
.sidebar {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
